</article>
		</main>

		<nav id="left" class="column">
			<h2>Menu</h2>
			<ul>
                <li><a href="home.php">Home</a></li>
				<li><a href="status.php">Status</a></li>
				<li><a href="get_alerts.php">Recent alerts</a></li>
				<li><a href="read_config.php">Configuration</a></li>
                <li><a href="admin.php">Admin</a></li>
			</ul>

		</nav>

		<div id="right" class="column">
			<p align=right><a href=logout.php>Logout</a></p>
		</div>

	</div>

<div id="footer-wrapper">
		<footer id="footer"><p>Copyright &#169; 2016 FalconGate</p></footer>
	</div>

</body>

</html>